---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.picture {
        height: 100px;
        width: 100px;
        position: relative;
        margin: -10px 0 0 15px;
        float: left;
        border-radius: 50%;
        p & {
            padding: 0;
            margin: 0;
        }
    }
